<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タスクの一覧</title>
</head>
<body>
    <h1>やること一覧</h1>
    <ul>
    <% for(let task of tasks ) { %>
    <li><a href="/todo/<%= task._id %>"><b><%= task.name %></b></a>:<%= task.priority %></li>
    
    <% } %>
    </ul>
    <a href="/new">新規追加</a>
</body>
</html>