<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todoの追加</title>
</head>
<body>
    <h1>todoの追加</h1>
    <form action="/todo" method="POST">
        <label for="todo">やることを追加しよう！</label>
        <input type="text" id="todo" name="todo" placeholder="やるべきことはなんですか？">
        <button>
            追加！
        </button>
    </form>
</body>
</html>