<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タスクの詳細</title>
</head>
<body>
    <h1><%= selectedTask.task %></h1>
    <%= selectedTask.id %>
    <a href="/todo">タスク一覧へ</a>
    <a href="/todo/<%=selectedTask.id %>/edit">更新</a>
    <form action="/todo/<%=selectedTask.id %>?_method=DELETE" method="POST">
        <button>削除</button>
    </form>
</body>
</html>